body {
    margin: 0 auto;
    font-size: 20px;
    line-height: 35px;
}

#main-container {
    padding-top: 120px;
    min-height: calc(100vh - 60px);
}

.container {
    max-width: 950px;
}

li{
    list-style: none;
}

a:link {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1  {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

footer {
    clear:both;
    block-size: 60px;
    border-top: 8px solid green;
}

.text-secondary {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.button {
    text-align: center;
}
